/*Selector {
	property: value;
}*/

* {
	text-align: center ;
}
body{
	background-color: #5BB9B9;
	background-size: cover;
}

h2 > p {
	color: red;
	text-align: right;
	border: 5px dashed rgb(255, 176, 170);
	cursor: pointer;
}

p {
	color: pink;
}

li {
	list-style: none;
	display: inline-block;
}

a {
	text-decoration: none;
}

.webtext {
	border: 5px dashed green;
}

#div1 {
	background: rgba(0, 0, 255, 0.2);
}

#div2 {
	background: rgba(255, 0, 0, 0.2);
}